body{
    font-family: "Oxanium";
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
    min-height: calc(100vh - 152px);
    
    
}

body::before{
    content: "";
    /* background-image: url(../imagens/bg-desktop.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
    z-index: -1;
}


.cabecalho{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    
    
}

.cabecalho .logo-xmen{
    
    
    max-width: 300px;
    
}

.selecao-de-personagens{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 530px);
    padding: 0px 10px 0px 10px;
}

.selecao-de-personagens .lista-personagens{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}

.selecao-de-personagens .personagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 25px;
    
}

.selecao-de-personagens .personagens .titulo{
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #0000002d;
    width: 100%;
    text-align: center;
}

.lista-personagens .personagem img{
width: 100%;
height: 100%;
border-bottom: 2px solid #0000002d;
}

.lista-personagens .personagem.selecionado{
    box-shadow: 0px 0px 24px 5px #00000059;
}

.personagem-view{
    text-align: center;
    /* max-height: 530px; */
}

.personagem-view .nome-personagem{
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #0000002d;
    width: 100%;
    
}

.personagem-view .personagem-grande{
    /* width: 430px;
    height: 430px; */
}

.personagem-view .descricao-personagem{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 420px;
}